<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aidan.inventoryworkplatform"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/check_system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FragmentManager.FragmentManagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>